input {
	font-size: 18px;
	height: 40px;
	width: 500px;
}

#lista-de-productos {
	display: flex;
}

.producto {
	align-items: center;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	height: 200px;
	margin: 10px;
	width: 200px;
}

.producto img {
	height: auto;
	width: 70%;
}
